   body {
      /* background-image: url("Frame 8.png");
      background-size: 100% auto;
      background-repeat: no-repeat; */
      /* background-color: #C4C4C4; */
    }
    .container {
      background-color: #FF003D;
      display: grid;
      grid-template-columns: 0.7fr 0.6fr 0.7fr 0.6fr 1.6fr 0.6fr 2.2fr;
      grid-template-rows: 0.9fr 1fr 0.8fr 0.8fr 1.5fr 1.3fr;
      gap: -1px -1px;
      grid-template-areas:
        "rounds rounds rounds rounds head glasses eye"
        "cubes triangle triangle stripes head glasses eye"
        "cubes triangle triangle stripes start start help"
        "grey grey rounds_half rounds_half test test cat"
        "grey grey stripes_1 stripes_1 test test cat"
        "glass glass pew pew test test cat";
      width: 100%;
      height: 100%;
    }
    .white_text {
      font-size: 6vw;
      color: white;
      padding-left: 35%;
      padding-top: 75%;
    }
    .help_hidden {
    background-color: #C4C4C4;
    margin-top: 24%;
    margin-left: 33.2%;
    height: 57.3%;
    width: 66.8%;
    position: absolute;
    z-index: 3;
    visibility: hidden;
    }
    .show {
    visibility: visible;
    }
    .black_text {
      color: black;
    }
    .cat { grid-area: cat;
    background-color: #FF002E;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    }

    .start { grid-area: start;
    background-color: #231F20;
    }

    .help { grid-area: help;
    background-color: #C4C4C4;
    }

    .head { grid-area: head;
    background-color: #FF002E;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .glasses { grid-area: glasses;
    background-color: #FFFFFF;
    display: flex;
    }

    .eye { grid-area: eye;
    background-color: #231F20;
    display: flex;
    justify-content: center;
    }

    .rounds { grid-area: rounds;
    background-color: #231F20;
    background-image: url(images/rounds.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    }

    .test { grid-area: test;
    background-color: #FF002E;
    }

    .stripes { grid-area: stripes;
      background-color: #231F20;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .triangle { grid-area: triangle;
      background-color: #FF002E;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      z-index: 2;
      }
  .try {

  }
    .cubes { grid-area: cubes;
    background-color: #FFFFFF;
    background-image: url(images/cubes.svg);
    background-size: contain;
    z-index: 2;
    }

    .grey { grid-area: grey;
    background-color: #928E8F;
    display: flex;
    flex-direction: row;
    align-items: center
    }
    .treyg {
    margin-left: 6%;
    z-index: 1;
  }
    .stripes_1 { grid-area: stripes_1;
    background-color: #FF002E;
    background-image: url(images/stripe_red.svg);

    }
    .rounds_half { grid-area: rounds_half;
    background-color: #231F20;
    }
    .glass { grid-area: glass;
    background-color: #231F20;
    }
    .pew { grid-area: pew;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    }
    .pew_img1 {

    }
    .head_img {
    width: 60%;
    }
.glasses_1 {

}
.eue_1 {
  width: 90%;
}
