.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 63px 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "help help help lvl lvl lvl"
    "strange left_ear right_ear left_circle right_circle round"
    "stripes left_glass right_glass tail3 tail4 tail_end"
    "circle grey1 body back tail2 grey"
    "eye_left lapka red1 red2 tail1 black1";
  width: 1024px;
  height: 768px;
}

.eye_left { grid-area: eye_left; }

.lapka { grid-area: lapka; }

.red1 { grid-area: red1; }

.red2 { grid-area: red2;
border-color: #FF002E;
}

.tail1 { grid-area: tail1; }

.black { grid-area: black1; }

.circle { grid-area: circle; }

.stripes { grid-area: stripes; }

.strange { grid-area: strange; }

.left_ear { grid-area: left_ear; }

.right_ear { grid-area: right_ear; }

.left_circle { grid-area: left_circle; }

.right_circle { grid-area: right_circle; }

.round { grid-area: round; }

.tail_end { grid-area: tail_end; }

.grey { grid-area: grey; }

.tail2 { grid-area: tail2; }

.back { grid-area: back; }

.tail3 { grid-area: tail3; }

.tail4 { grid-area: tail4; }

.left_glass { grid-area: left_glass; }

.right_glass { grid-area: right_glass; }

.grey1 { grid-area: grey1; }

.body { grid-area: body; }

.help { grid-area: help; }

.lvl { grid-area: lvl; }
