  @import "reset.css";
  @import "layout.css";
  @import "content.css";
  @import "adaptive.css";
  @import "animation.css";
  @font-face {
  font-family: 'Organetto Bold SemiExt';
  src: url('fonts/Organetto-BoldSemiExt.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  }
  @font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');;
  font-weight: normal;
  font-style: normal;
  }
